body {
  padding-bottom: 40px;
  padding-top: 60px;
}
.hero-unit h1{
  margin-bottom: 0.5em;
}

video{
  border:2px solid #333;
}

.sepia{
  -webkit-filter:sepia(1);
}
.grey-scale{
  -webkit-filter:grayscale(1);
}
.invert{
  -webkit-filter:invert(1);
}
.blur{
 -webkit-filter:blur(10px) hue-rotate(180deg) saturate(5);
}
